apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: demo-po-lin
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: po-lin/lab-backend:1.0
        ports:
        - containerPort: 3000
          protocol: TCP
