apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: po-lin-result-ingress
  namespace: result-ingress
spec:
  rules:
    - host: result.app.po-lin.diogohack.shop
      http:
        paths:
          - path: /result
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000
